<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <h5 class="mr-auto">Season Details</h5>
        <div class="btn-group" role="group">
          <button class="btn btn-secondary" (click)="createSeason()">Create Season</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row table-center">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                 
                <th style="width: 20%;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="seasons?.length <= 0">
                <td colspan="5" class="text-center">no data found</td>
              </tr>
              <tr *ngFor="let season of seasons; let i = index;">
                <td>{{i+1}}</td>
                <td>{{season.seasonName}}</td>
                <td>
                  <button class="btn btn-primary btn-sm" (click)="editSeason(season)">Edit</button> 
                  <button class="btn btn-danger btn-sm ml-2" (click)="deleteSeason(season.seasonId)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ngx-spinner [name]="spinnerName" [fullScreen]="false" size="medium">
      <p class="loading">Loading...</p>
    </ngx-spinner>
  </div>
</div>