<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }} </h5>
  <button type="button" class="close" aria-label="close" (click)="bsModalRef.hide()">
      <span aria-hidden="true"> &times; </span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="seasonForm" id="seasonForm" class="needs-validation">
      <div class="form-group">
          <label for="seasonName" class="label-title"> Season Name<span>*</span></label>

          <input type="hidden" id="seasonId" formControlName="seasonId" />

          <input type="text" [ngClass]="{ 'is-invalid': seasonForm.get('seasonName').errors
           && (seasonForm.get('seasonName').touched 
          || (seasonForm.get('seasonName').dirty)) }" 
          id="seasonName" formControlName="seasonName"  class="form-control" placeholder=" Enter season" />

          <div class="invalid-feedback" *ngIf="seasonForm.get('seasonName').hasError('required')">
              season is required!
          </div>
      </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!seasonForm.valid" (click)="onSubmit()"
      form="seasonForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal" (click)="bsModalRef.hide()">Close</button>
</div>