<div class="modal-header">
  <h5 class="modal-title f-w-600" id="exampleModalLabel">{{ title }}</h5>
  <button type="button" class="close" aria-label="Close"
  (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="productForm" id="productForm" class="needs-validation">
    <div class="form-group">
      <label for="productName" class="label-title">Product Name <span>*</span></label>
      <input type="hidden" id="productId" formControlName="productId" />
      <input type="text" [ngClass]="{'is-invalid': productForm.get('productName').errors 
          && (productForm.get('productName').touched 
          || productForm.get('productName').dirty)}" id="productName" formControlName="productName" class="form-control"
        placeholder="" />
      <div class="invalid-feedback" *ngIf="productForm.get('productName').hasError('required')">
        product name is required !
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="label-title">Price <span>*</span></label>
      <input type="number" [ngClass]="{'is-invalid': productForm.get('price').errors 
          && (productForm.get('price').touched 
          || productForm.get('price').dirty)}" id="price" formControlName="price" class="form-control"
        placeholder="" />
      <div class="invalid-feedback" *ngIf="productForm.get('price').hasError('required')">
        price is required !
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="label-title">Description <span>*</span></label>
      <input type="text" [ngClass]="{'is-invalid': productForm.get('description').errors 
          && (productForm.get('description').touched 
          || productForm.get('description').dirty)}" id="description" formControlName="description" class="form-control"
        placeholder="" />
      <div class="invalid-feedback" *ngIf="productForm.get('description').hasError('required')">
        description is required !
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="!productForm.valid" (click)="onSubmit()" form="productForm">Save</button>
  <button class="btn btn-secondary" type="button" data-dismiss="modal"
  (click)="bsModalRef.hide()">Close</button>
</div>